header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    padding: 1rem;
  }
  a:hover {
    background-color: #1affa1;
    color: black;
  }
  a:active{
    background-color: #1affa1;
    color: black;
    
  }
}
